.bg-grey {
    background-color: #3d4348;
}

#myWelcomeDiv {
    height: 95vh !important;
    object-fit: cover;
    width: 100%;
}

.h-i {
    height: inherit;
}

#logo {
    width: 20%;
    min-width: 100px;
}