.bg-grey {
    background-color: #3d4348;
}




.navbar-size {
    max-height: 5vh !important;
}
#myWelcomeDiv {
    height: 95vh !important;
    object-fit: cover;
    width: 100%;
}

@media (max-width:1000px) {

    /* your conditional / responsive CSS inside this condition */

    .navbar-size {  max-height: none !important; }
    #myWelcomeDiv {
        height: 66vh !important;
        object-fit: cover;
        width: 100%;
    }


}




.h-i {
    height: inherit;
}

#logo {
    width: 20%;
    min-width: 100px;
}