.bg-grey {
    background-color: #3d4348;
}

#myWelcomeDiv {
    height: 95vh !important;
    object-fit: cover;
    width: 100%;
}

#div-title {
    margin-top: 30%;
    padding: 2px;
}

#connection-div {
    margin-top: 30%;
    margin-bottom: 20px
}