{{> header}}

<div class="container">
    <h1 class="text-center">Liste des utilisateurs</h1>
    <p class="text-white text-center bg-danger">
    {{#isDelete}}
    <small>Utilisateur supprimé</small>
    {{/isDelete}}
    {{#isAdd}}
    <small>Utilisateur ajouté</small>
    {{/isAdd}}
    </p>
    <br>
    <div class="table-responsive">
        <table class="table table-striped ">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Mot de passe</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Ville</th>
            <th scope="col">Email</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {{#users}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{password}}</td>
            <td>{{surname}}</td>
            <td>{{name}}</td>
            <td>{{city}}</td>
            <td>{{mail}}</td>
            <td>{{phone}}</td>
            <td>{{role}}</td>
            <td><a class="btn btn-danger" href="/delete/{{id}}">Supprimer</a></td>
        </tr>
        {{/users}}
        <form method="post" action="/add_user">
        <tr>
            <th scope="row">new</th>
            <td><input name="password" type="password" class="form-control" id="exampleInputPassword1"></td>
            <td><input name="surname" type="text" class="form-control" id="surname"></td>
            <td><input name="name" type="text" class="form-control" id="name"></td>
            <td><input name="city" type="text" class="form-control" id="city"></td>
            <td><input name="mail" type="email" class="form-control" id="email"></td>
            <td><input name="phone" type="text" class="form-control" id="phone"></td>
            <td>
                <select name="role" class="form-control" id="exampleFormControlSelect1">
                    <option>user</option>
                    <option>admin</option>
                </select>
            </td>
            <th scope="col"><button type="submit" class="btn btn-success">Envoyer</button></th>
        </tr>
        </form>
        </tbody>
    </table>
    </div>


</div>

{{> footer}}