{{ > header}}
<div class="container-fluid row m-0 p-0">
    <div class="col-12 col-md-10 row" id="myWelcomeDiv">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <div id="div-title" class="bg-dark text-white rounded-lg">
                <h2>uGive</h2>
                <img src="/img/logo_projet.svg" width="20%">
                <p>Trouvez les objets dont vous avez besoin dans les propositions de dons des autres utilisateurs</p>
            </div>

        </div>
    </div>
    <div class="col-12 col-md text-white bg-grey">
        <div id="connection-div">
            <a class="btn btn-block btn-success" href="/new_user">Inscription</a>

            <a class="btn btn-block btn-outline-success mt-5" href="/login">Connexion</a>
            <small class="text-primary">Déjà inscrit ?</small>
        </div>
        <small class="text-muted float-right">By Jeremy GAU and Yann FORNER</small>
    </div>
</div>



{{ > footer}}