{{> header}}

<div class="container bg-light">
    <div class="text-center">
        <img src="/img/people.png" style="width: 20%">
    </div>
    <hr>
    {{#myUser}}
    <div class="row text-center ">
        <div class="col">
            <small>Mail&nbsp:</small><br>
           {{mail}}
        </div>
        <div class="col">
            <small>Nom complet&nbsp:</small><br>
            {{name}}&nbsp{{surname}}
        </div>
        <div class="col">
            <small>Ville&nbsp:</small><br>
            {{city}}
        </div>
        <div class="col">
            <small>Tel&nbsp:</small><br>
            {{phone}}
        </div>
        {{/myUser}}
        <div class="col">
            <a href="/edit-profile" class="btn btn-block btn-outline-dark">Modifier</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-md-6" style="background-color: #B0F2B6">
            <div class="d-flex justify-content-between">
                <h3 >Besoins</h3>
                <a class="btn btn-outline-dark" id="addNeed" data-toggle="modal" data-target="#add-exchange" style="border : 0;"><img src="/img/plus.png" width="100%"></a>
            </div>
            <ul>
                {{#needs}}
                <li class="d-flex justify-content-around">
                    <p>{{category}}&nbsp:&nbsp{{name}}</p>
                    <a href="/delete-exchange-needs/{{id}}">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </a>
                </li>
                {{/needs}}
            </ul>

        </div>
        <div class="col-12 col-md-6" style="background-color: #FF6961">
            <div class="d-flex justify-content-between">
                <h3>Surplus</h3>
                <a class="btn btn-outline-dark" id="addSurplus" data-toggle="modal" data-target="#add-exchange" style="border : 0;"><img src="/img/plus.png" width="100%"></a>
            </div>
            <ul>
                {{#surplus}}
                <li class="d-flex justify-content-around">
                    <p>{{category}}&nbsp:&nbsp{{name}}</p>
                    <a href="/delete-exchange-surplus/{{id}}">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </a>
                </li>
                {{/surplus}}
            </ul>

        </div>
    </div>

    <!-- Modal Needs -->
    <div class="modal fade" id="add-exchange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModalAddExchange">Ajouter un besoin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/add-new-exchange">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="cat">Catégorie</label>
                        <select class="form-control" name="category" id="cat">
                            {{#categories}}
                            <option>{{category}}</option>
                            {{/categories}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Nom de l'objet</label>
                        <input type="text" class="form-control awesomplete" name="name" list="myNames" autocomplete="off" id="name" required>
                        <datalist id="myNames">
                            {{#names}}
                            <option>{{name}}</option>
                            {{/names}}
                        </datalist>
                    </div>
                    <input type="hidden" name="type" id="myType">
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Ajouter" class="btn btn-primary">
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{> footer}}